<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 intro-text">
                        <h1>Code4Share<span></span></h1>
                        <p>代码同步视频通话</p>
                        {{#if user}}
                            <a href="/createTask" class="btn btn-custom btn-lg page-scroll">Create New Task</a>
                        {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>


