<link rel="stylesheet" type="text/css" href="/css/login.css">

<div class="wrapper" style="display: block">
    <div class="container2">
        <h1 class="form-signin-heading text-center">登录</h1>
        <form class="form-signin form" method="post">
            <input type="email" name="email"  placeholder="请输入您的邮箱" require="" autofocus="">
            <input type="password" name="password" placeholder="请输入密码" require="">
            <input type="submit" id="login-button" value="登录">
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
